<p>grid works!</p>
<!-- grid.component.html -->
<table mat-table [dataSource]="list" class="mat-elevation-z8">
  <!-- Columnas según tus necesidades -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let detail"><button mat-button [routerLink]="['/detail', detail.id]">{{ detail.id
        }}</button></td>
  </ng-container>

  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef>Author</th>
    <td mat-cell *matCellDef="let detail">{{ detail.author }}</td>
  </ng-container>

  <!-- Agrega más columnas según tus necesidades -->

  <tr mat-header-row *matHeaderRowDef="['id', 'author']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['id', 'author']"></tr>
</table>